@import '~bootstrap/scss/bootstrap';

.white > * {
  color: black !important;
}

.black > * {
  color: white !important;
}

.bg-white > * {
  background-color: white;
  color: black !important;
}

.bg-black > * {
  background-color: black;
  color: white !important;
}