@import '~bootstrap/scss/bootstrap';

.white {
  color: black !important;

  > * {
    color: black !important;
  }
}

.black > * {
  color: white !important;
  > * {
    color: white !important;
  }
}

.bg-white {
  background-color: white;
  color: black !important;
  > * {
    background-color: white;
    color: black !important;
  }
}

.bg-black {
  background-color: black;
  color: white !important;
  > * {
    background-color: black;
    color: white !important;
  }
}